<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
	<default>
		<shop_by_brand>
			<general>
                <attribute>brand</attribute>
				<url_key>brand</url_key>
			</general>
		</shop_by_brand>
	</default>
</config>
